/* rest */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Heebo', sans-serif;
}

/* general */
.container {
    width: 80%;
    margin: auto;
}

.clearfix::after {
    content: '';
    display: table;
    clear:both;
}

.float-left {
    float: left;
}

.text-grey {
    color: grey;
}

/* header */

/* logo */
.logo-image {
    width: 150px;
    border-right: 1px solid #5b5656;
}

.contenitore-logo img {
    width: 120px;
}
/* /logo */

/* navbar */
header nav {
    height: 85px;
    line-height: 85px;
}

nav ul li {
    font-size: 20px;
    padding-right: 20px;
    display: inline-block;
    text-transform: uppercase;
}

nav li a {
    text-decoration: none;
    color: rgb(75, 72, 72);
}

nav li a:hover {
    color:red
}
/* /navbar */

/* Hero Image */
.banner {
    margin-top: 20px;
    height: 500px;
    border-radius: 20px;
    position: relative;
    color: white;
    overflow: hidden;
}

.banner img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.banner-description {
    width: 50%;
    position: absolute;
    left: 50px;
    bottom: 100px;
    height: 100px;
    padding: 10px 0;
   
}

.banner-description h1 {
    font-size: 30px;
    line-height: 40px;
}



.hoverlay::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
}


/* fine - header */

/* Inizio - main */

.titolo-principale {
    margin-top: 20px;
    margin-bottom: 20px;
  }

.colonna-left, .colonna-right  {
    width: 20%;
    position: relative;
}

.image-main {
    position: relative;
}

.colonna-left img, .parte-centrale img, .colonna-right img {
    width: 100%;
}

.parte-centrale {
    width: calc(60% - 40px);
    margin: 0 20px;
} 

.image-main  {
    border-radius: 20px;
    overflow: hidden;
}

 main img{
    object-fit: cover;
    height: 200px;
}

/* Fine - main */

footer {
    padding: 30px;
    text-align: center;
    margin-top: 10px;
}

footer span {
    font-size: 30px;
    color: red;
}
